[
  {
    "name": "TIS-Check All Files (x86_32)",
    "files": ["test.c"],
    "compilation_cmd": "-sa -I.",
    "machdep": "x86_32"
  },
  {
    "name": "TIS-Check All Files (x86_64)",
    "files": ["test.c"],
    "compilation_cmd": "-sa -I.",
    "machdep": "x86_64"
  },
  {
    "name": "TIS-Check All Files (rv32ifdq)",
    "files": ["test.c"],
    "compilation_cmd": "-sa -I.",
    "machdep": "rv32ifdq"
  },
  {
    "name": "TIS-Check All Files (rv64ifdq)",
    "files": ["test.c"],
    "compilation_cmd": "-sa -I.",
    "machdep": "rv64ifdq"
  }
]
