[
  {
    "name": "TIS-Check All Files (x86_32)",
    "files": ["test.c"],
    "compilation_cmd": "-I.",
    "machdep": "x86_32",
    "sa": true
  },
  {
    "name": "TIS-Check All Files (x86_64)",
    "files": ["test.c"],
    "compilation_cmd": "-I.",
    "machdep": "x86_64",
    "sa": true
  },
  {
    "name": "TIS-Check All Files (rv32ifdq)",
    "files": ["test.c"],
    "compilation_cmd": "-I.",
    "machdep": "rv32ifdq",
    "sa": true
  },
  {
    "name": "TIS-Check All Files (rv64ifdq)",
    "files": ["test.c"],
    "compilation_cmd": "-I.",
    "machdep": "rv64ifdq",
    "sa": true
  }
]
