[
  {
    "name": "TIS-Check All Files (x86_32)",
    "files": ["all"],
    "compilation_cmd": "-sa -I.",
    "macdep": "x86_32", 
  },
  {
    "name": "TIS-Check All Files (x86_64)",
    "files": ["all"],
    "compilation_cmd": "-sa -I.",
    "macdep": "x86_64", 
  },
  {
    "name": "TIS-Check All Files (rv32ifdq)",
    "files": ["all"],
    "compilation_cmd": "-sa -I.",
    "macdep": "rv32ifdq", 
  },
  {
    "name": "TIS-Check All Files (rv64ifdq)",
    "files": ["all"],
    "compilation_cmd": "-sa -I.",
    "macdep": "rv64ifdq", 
  },
]
